<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
    <link rel='stylesheet' href='../public/stylesheets/nav.css'/>
    <link rel="stylesheet" href="../public/stylesheets/covid.css" />
  </head>
  <body>
    <%- include('nav') %>
  <section>
      <div class="container-fluid">
        <div  class="row">
       <div id="poster">
         <div class="col-md-7 col-sm-7 col-xs-7" >
           <h6 id="hello2">Goodbye Doubts,</h6>
         <h3 id="hello">Say hello to DrBot.</h3>
         <hr id="hr">
         <h6>24/7 Consultations on our specialized AI Bot</h6>
         <a href="https://t.me/DoctorDoctorBotBot"><button type="button" class="btn btn-primary">Connect Now</button></a>
         </div>
         <div class="col-md-5 col-sm-5 col-xs-5">
          <img id="banner" src="../public/images/415.png">
         </div>
       </div>
      </div>
    </div>
  </section>
  <br><br>

  <section>
    <div class="container">
      <div class="row">
         <div class="col-md-10">
           <h4>Get top Consultations online for any health related concerns on our Digital Platform</h4>
         </div>
         <div class="col-md-2"> 
          <button type="button" class="btn btn-primary btn-outline-info">See all Specialities</button> </div>
      </div> <br><br>

      <div class="row">
        <div class="col-md-2 col-xs-12">
        <div class="card border-0">
          <img id="dimg" src="../public/images/patient.png" class="card-img-top" >
          <div class="card-body">
            <h5 style="text-align: center;margin-bottom: 5px;" >Coronavirus Symptoms</h5>
            <a href="/covid"><p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p></a>
          </div>
        </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="card border-0">
            <img id="dimg" src="../public/images/blood-test.png" class="card-img-top" >
            <div class="card-body">
              <h5 style="text-align: center;margin-bottom: 5px;" >Sugar Diabetes</h5>
              <a href="/diabetes"> <p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p></a>
            </div>
          </div>
          </div>

          <div class="col-md-2 col-xs-6">
            <div class="card border-0">
              <img id="dimg" src="../public/images/diabetes-test.png" class="card-img-top" >
              <div class="card-body">
                <h5 style="text-align: center;margin-bottom: 5px;" >Blood Pressure</h5>
                <p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p>
              </div>
            </div>
            </div>

            <div class="col-md-2 col-xs-6">
              <div class="card border-0">
                <img id="dimg" src="../public/images/cancer.png" class="card-img-top" >
                <div class="card-body">
                  <h5 style="text-align: center;margin-bottom: 5px;" >Cancer Treatments</h5>
                  <p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p>
                </div>
              </div>
              </div>

              <div class="col-md-2 col-xs-6">
                <div class="card border-0">
                  <img id="dimg" src="../public/images/negativity.png" class="card-img-top" >
                  <div class="card-body">
                    <h5 style="text-align: center;margin-bottom: 5px;" >Depression or Anxiety</h5>
                    <p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p>
                  </div>
                </div>
                </div>

                <div class="col-md-2 col-xs-">
                  <div class="card border-0">
                    <img id="dimg" src="../public/images/stethoscope.png" class="card-img-top" >
                    <div class="card-body">
                      <h5 style="text-align: center;margin-bottom: 5px;" >General Physician</h5>
                      <p style="text-align: center;color: #3ba2ff;font-weight: bold;">Consult now</p>
                    </div>
                  </div>
                  </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div id="help" class="row">
        <h5 style="color: white;font-size: 24px;margin-bottom: 30px;">How DrBot is helping everyone in fighting their health problems</h5> <br>
        <div class="Container" id="how">
          <div class="row">
          <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem;">
              <img src="../public/images/consult.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Unlimited online Consultations without any Problem</h5>
                <a href="https://t.me/DoctorDoctorBotBot"> <button type="button" class="btn btn-primary">Connect Now</button></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem;">
              <img src="../public/images/symp.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Got Any Symptoms ? Don't Panic we have got you covered</h5>
                <a href="https://t.me/DoctorDoctorBotBot"> <button type="button" class="btn btn-primary">Connect Now</button></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem;">
              <img src="../public/images/corona.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Get to Know about COVID 19. Let's Fight Coronavirus Together</h5>
                <a href="https://t.me/DoctorDoctorBotBot"><button type="button" class="btn btn-primary">Connect Now</button></a>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</section>
<br><br>
<section>
  <div class="container">
    <div  class="row">
      <div id="poster3">
     <div id="covid" class="col-md-7 col-sm-12 col-xs-12" >
     <h3 id="hello3">COVID-19 Track</h3>
     <!-- <hr id="hr"> -->
     <h5 style="font-weight: bold;">Get the Latest Updates on Coronavirus with <br>DrBot COVID-19 Tracker</h5>
     <a href="/covid"> <button type="button" class="btn btn-outline-primary">Check Now</button></a>
     <div id="statsrow">
     <div class="card border-0" id="stats">
      <div class="card-body" id="stats1">
          <div class="total-cases3">
              <div id="tc" class="title">Total Cases</div>
              <div id="val11" style="color: #0a58ca;" class="value">10.2M</div>
              <!-- <hr>
              <div id="newVal" class="new-value" >0</div> -->
            </div>
      </div>
    </div>

    <div class="card border-0" id="stats">
      <div class="card-body" id="stats1">
          <div class="recovered3">
              <div id="tc" class="title">Recovered</div>
              <div id="val12" style="color: green;" class="value">9.81M</div>
              <!-- <hr>
              <div id="newVal" class="new-value">0</div> -->
            </div>
      </div>
    </div>

    <div class="card border-0" id="stats">
      <div class="card-body" id="stats1">
          <div class="deaths3">
              <div id="tc" class="title">Deaths</div>
              <div id="val13" style="color: red;" class="value">148k</div>
              <!-- <hr>
              <div id="newVal" class="new-value">0</div> -->
            </div>
      </div>
    </div>
    </div>   
     </div>
     <div class="col-md-5 col-sm-12 col-xs-12">
      <img id="banner3" src="../public/images/covid.jpg">
     </div>
   </div>
  </div>
  </div>
</section>

<br><br>

<section>
  <div class="container">
    <div class="row" id="article">
        <div class="col-md-4 col-xs-12">
          <h2 style="font-weight: 600;">Read top articles from health experts</h2>
          <p>Health articles that keep you informed about good health practices and achieve your goals</p>
          <a href="#"> <button type="button" class="btn btn-outline-info">See all articles</button></a>
        </div>
        <div class="col-md-4 col-xs-12 mt-4">
          <div class="card" id="art">
            <img id="art1" src="../public/images/myth.jpg" class="card-img-top" >
            <div class="card-body">
              <p style="margin-top:-5px;margin-bottom: 5px;font-size: 15px;color: #358588;font-weight: bold;">Coronavirus</p>
              <h5 style="font-weight: 700;font-size: 18px;" class="card-title">12 Coronavirus Myths and Facts That you should be aware of</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 mt-4">
          <div class="card" id="art">
            <img id="art2" src="../public/images/immunity.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p style="margin-top:-5px;margin-bottom: 5px;font-size: 15px;color: #358588;font-weight: bold;">Vitamin and Supplements</p>
              <h5 style="font-weight: 700;font-size: 18px;" class="card-title">Eating Right to Build Immunity Against Cold and Viral Infections</h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<footer >
  <section>
    <div id="ft" class="container-fluid">
      <div class="row" style="background-color: black;">
       <center><a class="navbar-brand" href="#"><img id="logo" src="../public/images/DrBot_logo.png"></a></center> <br>
       <center><p style="color: white;">&copy; <span style="font-weight: bold;"> DrBot </span> | created and developed by Team MapBy.</p></center>
    </div>
  </div>
</section>
</footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
